@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.casestudy-body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.intro-text {
  justify-items: center;
}

.intro-heading {
  font-family: "Raleway";
  font-weight: 800;
  font-style: extrabold;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
}

.intro-para {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  width: 570px;
  height: 72px;
}

.casestudy-first-sec {
  display: flex;
  gap: 100px;
  width: 892px;
  height: 300px;
  justify-self: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.casestudy-first-sec-industry {
  width: 72px;
  height: 24px;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 10px;
  gap: 10px;
  background-color: #fff6e9;
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 700;
  font-style: Bold;
  line-height: 24px;
  letter-spacing: 1%;
  color: #ffa217;
}

.casestudy-text {
  text-align: left;
  padding-top: 30px;
}

.casestudy-img {
  object-fit: cover;
  width: 500px;
  height: 320px;
  border-radius: 6px;
}

.casestudy-h2 {
  width: 192px;
  height: 28px;
  font-size: "Raleway";
  font-weight: 800;
  font-size: 24px;
  font-style: ExtraBold;
  line-height: 100%;
  letter-spacing: 0%;
}

.casestudy-para {
  width: 421px;
  height: 96px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
}

.first-sec-button {
  width: 189.89px;
  height: 38px;
  border-radius: 4px;
  padding: 10px 24px;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #e6982a;
  border: 0;
  margin-top: 20px;
}

.casestudy-second-sec {
  display: flex;
  gap: 100px;
  width: 892px;
  height: 300px;
  justify-self: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.casestudy-second-sec-industry {
  width: 100px;
  height: 24px;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 10px;
  gap: 10px;
  background-color: #d0e6ff;
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 700;
  font-style: Bold;
  line-height: 24px;
  letter-spacing: 1%;
  color: #000aff;
}

.second-sec-button {
  width: 189.89px;
  height: 38px;
  border-radius: 4px;
  padding: 10px 24px;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #000aff;
  border: 0;
  margin-top: 20px;
}

.casestudy-third-sec {
  display: flex;
  gap: 100px;
  width: 892px;
  height: 300px;
  justify-self: center;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.casestudy-third-sec-industry {
  width: 110px;
  height: 24px;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 10px;
  gap: 10px;
  background-color: #e0fff8;
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 700;
  font-style: Bold;
  line-height: 24px;
  letter-spacing: 1%;
  color: #2ab090;
}

.third-sec-button {
  width: 189.89px;
  height: 38px;
  border-radius: 4px;
  padding: 10px 24px;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #2ab090;
  border: 0;
  margin-top: 20px;
}
