.navbar-rectangle {
  width: 1110px;
  height: 70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1b1b1b;
  justify-self: center;
  margin-top: 25px;
}

.navbar-links {
  display: flex;
  gap: 40px;
  height: 18px;
  width: 850px;
  justify-self: center;
  padding-top: 24px;
  left: 180px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  font-style: "Regular";
  line-height: 100%;
  letter-spacing: 1%;
}

.navbar-icons {
  width: 107.54px;
  height: 14px;
  top: 26px;
  margin-left: 50px;
}
