@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 70px;
}

.navbar-rectangle {
  width: 1110px;
  height: 70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1b1b1b;
  justify-self: center;
  margin-top: 25px;
}

.navbar-links {
  display: flex;
  gap: 40px;
  height: 18px;
  width: 850px;
  justify-self: center;
  padding-top: 24px;
  left: 180px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  font-style: "Regular";
  line-height: 100%;
  letter-spacing: 1%;
}

.navbar-icons {
  width: 107.54px;
  height: 14px;
  top: 26px;
  margin-left: 50px;
}

.header-text {
  text-align: left;
  color: #fff;
  height: 538px;
  width: 247px;
  top: 201px;
  left: 180px;
  margin-top: 10%;
  margin-left: 10%;
}

.h1-hero-text {
  padding-top: 20%;
  width: 492px;
  font-family: "Raleway";
  font-weight: 800;
  font-style: "Extra-bold";
  font-size: 44px;
}

.hero-para {
  width: 492px;
  height: 100px;
  line-height: 24px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  font-style: "Regular";
  letter-spacing: 1%;
  color: #9c9c9c;
}

.hero-button {
  width: 307.89px;
  height: 63px;
  border-radius: 4px;
  border: 1px;
  padding: 21px 64px;
  margin-top: 20px;
  gap: 10px;
  background-color: #3f8e00;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-image {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: 17%;
  object-fit: cover;
}

.hero-past-clients-text {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 100px;
  left: 180px;
  gap: 10px;
}

.hero-past-clients-logo {
  width: 920px;
  height: 60px;
}
