body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.navbar-links {
  display: flex;
  gap: 70px;
  height: 18px;
  width: 717px;
}

h1 {
  font-size: 50px;
  color: #fff;
}

.hero-section {
  display: flex;
}

.hero-image {
  border-radius: 50%;
  width: 60%;
}
