@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.recent-work-body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 1109.89px;
  height: 676px;
  justify-self: center;
}

.recent-work-intro {
  justify-self: center;
}

.recent-work-h1 {
  width: 211px;
  height: 40px;
  left: 450px;
  gap: 10px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 34px;
  font-style: ExtraBold;
  line-height: 100%;
  letter-spacing: 0%;
  color: #080808;
  justify-self: center;
}

.recent-work-intro-para {
  width: 570px;
  height: 72px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
}

.recent-work-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-self: center;
  width: 445px;
  height: 494px;
  top: 182px;
  left: 95px;
  justify-content: center;
}

.recent-work-img-and-text {
  width: 445px;
  height: 494px;
  padding-top: 80px;
  left: 95px;
}

.recent-work-img-1 {
  object-fit: contain;
  overflow: hidden;
  border-radius: 6px;
  height: 300px;
  width: 445px;
  object-fit: cover;
}

.recent-work-img-2 {
  object-fit: contain;
  overflow: hidden;
  border-radius: 4px;
  height: 300px;
  width: 445px;
  object-fit: cover;
}

.recent-work-txt {
  text-align: left;
}

.recent-work-h2 {
  width: 192px;
  height: 28px;
  top: 340px;
  gap: 10px;
  font-family: "Raleway";
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #080808;
  text-align: left;
}

.recent-work-para {
  width: 421px;
  height: 48px;
  top: 388px;
  gap: 10px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  text-align: left;
}

.recent-work-btn {
  justify-self: left;
  width: 139.89px;
  height: 38px;
  top: 456px;
  border-radius: 4px;
  border: 1px solid #62ba1b;
  padding: 10px 24px;
  gap: 10px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #3f8e00;
  color: #fff;
  text-align: left;
}

.next-btn {
  width: 29.89px;
  height: 30px;
  top: 414px;
  left: 1080px;
  border-radius: 54px;
  border: 1px solid #9c9c9c;
  padding: 10px 12px;
  gap: 10px;
  color: #000;
}
