@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.about-me-body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

nav {
  text-align: left;
}

.home-btn {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fff;
  width: 50px;
  height: 50px;
}

.intro-text {
  justify-items: center;
  padding-top: 10px;
}

.intro-heading {
  font-family: "Raleway";
  font-weight: 800;
  font-style: extrabold;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
}

.img-and-para {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.about-me-para {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  width: 570px;
  height: 72px;
  text-align: left;
  padding-top: 15px;
}

.about-me-Img {
  object-fit: contain;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
